<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>everypay_prestashop_1_4_x</name>
	<displayName><![CDATA[Everypay Card payments]]></displayName>
	<version><![CDATA[1.14]]></version>
	<description><![CDATA[Accept credit/debit card payments through Everypay service]]></description>
	<author><![CDATA[Everypay]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>